{% extends 'base.html'%}
{% load staticfiles %}
{% block content %}
<html>
<body>
	<h1>buscar_paciente</h1>
	<form action ="" method = "POST">
		{% csrf_token %}
		<input type = "text" name = "campo">

		<input type = "submit" name = "find" id = "find" value = "Find">
		<input type = "reset" value = "cancel">
	</form>
</div>
<div class="container-fluid bg-2 text-center">
	<div class ="table-responsive">
		<table class="table">
			<tr>
				<th>perfil_usuario</th>
				<th>nombre_paciente</th>
        <th>apellido_paciente</th>
        <th>num_expediente</th>
        <th>area</th>
        <th>fecha_ingreso</th>
        <th>fecha_conclusion</th>
        <th>evaluacion_completa</th>
        <th>reportes</th>
        <th>diagnostico</th>
        <th>fecha_nacimiento</th>
        <th>edad_ingreso</th>
        <th>telefono</th>
        <th>email</th>
        <th>genero</th>

			</tr>

			{% for item in objects %}
			<tr>
				<td>{{item.perfil_usuario}}</td>
				<td>{{item.nombre_paciente}}</td>
        <td>{{item.apellido_paciente}}</td>
        <td>{{item.num_expediente}}</td>
        <td>{{item.area}}</td>
        <td>{{item.fecha_ingreso}}</td>
        <td>{{item.fecha_conclusion}}</td>
        <td>{{item.evaluacion_completa}}</td>
        <td>{{item.reportes}}</td>
        <td>{{item.diagnostico}}</td>
        <td>{{item.fecha_nacimiento}}</td>
        <td>{{item.edad_ingreso}}</td>
        <td>{{item.telefono}}</td>
        <td>{{item.email}}</td>
        <td>{{item.genero}}</td>
			</tr>
			{% endfor %}
		</table>
	</div>
	<h3>{{mensaje}}</h3>
</div>
</div>
</body>
</html>
{% endblock %}
