{% extends 'validation/herencia.html' %}
{% load staticfiles %}

{% block content %}
<h1>Registro alumnos</h1>
<form id="miForm" action="." method="POST" onsubmit= "return valida(miForm)">	
	Jugador 1: <input type="text" id="jugador1" name="jugador1"><br>
	Jugador 2: <input type="text" id="jugador2" name="jugador2"><br>
	Jugador 3: <input type="text" id="jugador3" name="jugador3"><br>
	<input type="submit" value="Enviar">
	<input type="reset" value="Cancelar">
</form>
{% if flag %}
	Datos Guardados
{% endif %}
{% endblock %}