{% extends 'herencia.html' %}
{% load staticfiles %}
{% block title %} Cursos {% endblock %}
{% block content %}
 <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Cursos</h2>
                    <hr class="">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static 'img/portfolio/cabin.png' %}" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static 'img/portfolio/cake.png' %}" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static 'img/portfolio/circus.png' %}" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static 'img/portfolio/game.png' %}" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static 'img/portfolio/safe.png' %}" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static 'img/portfolio/submarine.png' %}" class="img-responsive" alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Talleres</h2>
                    <hr class="">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static 'img/portfolio/cabin.png' %}" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static 'img/portfolio/cake.png' %}" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static 'img/portfolio/circus.png' %}" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static 'img/portfolio/game.png' %}" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static 'img/portfolio/safe.png' %}" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static 'img/portfolio/submarine.png' %}" class="img-responsive" alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>
 <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Titulo Clase o Taller</h2>
                            <hr class="">
                            <img src="{% static 'img/portfolio/cabin.png' %}" class="img-responsive img-centered" alt="">
                            <p>Aqui puede ir una descripcion del taller o clase</p>
                            <ul class="list-inline item-details">
                                <li>Impartido por:
                                    <strong><a href="#">Mortal 1</a>
                                    </strong>
                                </li>
                                <li>Dia:
                                    <strong><a href="#">Mon-Tue</a>
                                    </strong>
                                </li>
                                <li>Hora:
                                    <strong><a href="#">10:00 am</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Titulo Clase o Taller</h2>
                            <hr class="">
                            <img src="{% static 'img/portfolio/cake.png' %}" class="img-responsive img-centered" alt="">
                            <p>Aqui puede ir una descripcion del taller o clase</p>
                            <ul class="list-inline item-details">
                               <li>Impartido por:
                                    <strong><a href="#">Mortal 1</a>
                                    </strong>
                                </li>
                                <li>Dia:
                                    <strong><a href="#">Mon-Tue</a>
                                    </strong>
                                </li>
                                <li>Hora:
                                    <strong><a href="#">10:00 am</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Titulo Clase o Taller</h2>
                            <hr class="">
                            <img src="{% static 'img/portfolio/circus.png' %}" class="img-responsive img-centered" alt="">
                            <p>Aqui puede ir una descripcion del taller o clase</p>
                            <ul class="list-inline item-details">
                                <li>Impartido por:
                                    <strong><a href="#">Mortal 1</a>
                                    </strong>
                                </li>
                                <li>Dia:
                                    <strong><a href="#">Mon-Tue</a>
                                    </strong>
                                </li>
                                <li>Hora:
                                    <strong><a href="#">10:00 am</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Titulo Clase o Taller</h2>
                            <hr class="">
                            <img src="{% static 'img/portfolio/game.png' %}" class="img-responsive img-centered" alt="">
                            <p> Aqui puede ir una descripcion del taller o clase </p>
                            <ul class="list-inline item-details">
                                <li>Impartido por:
                                    <strong><a href="#">Mortal 1</a>
                                    </strong>
                                </li>
                                <li>Dia:
                                    <strong><a href="#">Mon-Tue</a>
                                    </strong>
                                </li>
                                <li>Hora:
                                    <strong><a href="#">10:00 am</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Titulo Clase o Taller</h2>
                            <hr class="">
                            <img src="{% static 'img/portfolio/safe.png' %}" class="img-responsive img-centered" alt="">
                            <p>Aqui puede ir una descripcion del taller o clase</p>
                            <ul class="list-inline item-details">
                                <li>Impartido por:
                                    <strong><a href="#">Mortal 1</a>
                                    </strong>
                                </li>
                                <li>Dia:
                                    <strong><a href="#">Mon-Tue</a>
                                    </strong>
                                </li>
                                <li>Hora:
                                    <strong><a href="#">10:00 am</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">f
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Titulo Clase o Taller</h2>
                            <hr class="">
                            <img src="{% static 'img/portfolio/submarine.png' %}" class="img-responsive img-centered" alt="">
                            <p>Aqui puede ir una descripcion del taller o clase</p>
                            <ul class="list-inline item-details">
                               <li>Impartido por:
                                    <strong><a href="#">Mortal 1</a>
                                    </strong>
                                </li>
                                <li>Dia:
                                    <strong><a href="#">Mon-Tue</a>
                                    </strong>
                                </li>
                                <li>Hora:
                                    <strong><a href="#">10:00 am</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
