{% extends "base.html" %}
{% load staticfiles %}

{% block title %} HOME {% endblock%}

{% block content %}

    <!-- Header -->
    <header>
      <section class="success" id="about">
        <div class="container">
           <div class="row">
            <div class="col-lg-12">
              <div class="intro-text">
                        <span class="name">Parra's Inc.</span>
                        <hr class="">
                          <span class="skills">Parra's Inc.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section class="success3" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>¿Who are we?</h2>
                    <hr class="">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
